.key {
    background-color: alpha(@theme_fg_color, 0.05);
    border-radius: 3px;
}

.key-pressed {
    background-color: alpha(@theme_fg_color, 0.2);
}

.key-main-label {
}

.key-note-label {
    font: 10px 'Sans';
}